* {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For older versions of Internet Explorer */
}

body {
  background-color: rgba(19, 31, 36, 255);
  margin: 0;
}

.mainSign {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgb(121, 121, 121);
  padding: 20px;
  min-width: 200px;
  max-width: 400px;
  box-sizing: border-box;
  background-color: rgba(19, 31, 36, 255);
  color: white;
}

.headers {
  margin-bottom: 20px;
  margin-left: 5px;
  box-shadow: 100px;
  
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  
}

.container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
  margin-top: 30px;
  margin-right: 10vw;
  margin-left: 10vw;
  box-sizing: border-box;

 
  border-radius: 15px;
}

#cam {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 24.5vw;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; 
  gap: 20px;
  
  font-size: 20px;
}

.letter {
  padding: 10px;
  border: 1px solid #f8f8f8;
  text-align: center;
  width: 30px;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#p1 {
  border-style: solid;
  border-color: #1592e6;
  border-radius: 50px;
  background-color: #1592e629;
  color: #1592e6;
  padding: 10px;
  animation: backgroundBlue 10s ease infinite;
}

#p1,#p2,#p3,#p4,#p5,#p6 {
  padding:10px;
}

#p1:hover, #p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover {
  background-color: rgb(67, 67, 67);
  border-radius: 50px;
  cursor: pointer;
  
}

#request:hover {
  background-color: rgb(67, 67, 67);
  cursor: pointer;
  padding: 10px;
}

.headers {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  background: linear-gradient(270deg, #0f84f8, #e48c36, #e3f20e);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundBlue 10s ease infinite;
}

.display {
  position: absolute;
  left: 33.3vw;
  
  top: 5vh;
  border-radius: 30px;
}



#request {
  
  text-align: center;
  border-style: solid;
  
  padding: 10px;
  border-radius: 10px;
  top: 86vh;
  width: 17.5vw;
  position:absolute;

}

@keyframes backgroundBlue {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}
